/**
* @name OwnComfy
* @author RAINBOW#2050
* @description It's more comfy this way.
* @version 1
* @website https://dafuq.22web.org/
*/

:root {
  --disable-animations: 2s channel-unread infinite;

  --user-buttons-spacing: 8px;

  --user-buttons-color: #000;

  --avatar-radius: 100%;

  --status-radius: 3px;

  --server-radius: 8px;

  --colored-emoji: grayscale(0%);

  --mention-color: #000;

  --unread-color: #000;

  --mention-color-bar: #000;

  --mention-color-background: #000;

  --mention-color-hover: #000;

  --chat-buttons: #000;

  --spotify-color: #28bc56;

  --online: #0f0;

  --idle: #ff0;

  --dnd: #ff0000;

  --offline: #5c5c5c;

  --streaming: #6500ae;

  --playing: #00e0ff;

  --listening: #30bd60;

  --role-circle: 5px;
}

.theme-dark {
  --background-primary: #300065;
  --background-secondary: #1f004d;
  --background-secondary-alt: #1f004d;
  --background-tertiary: #500065;
  --background-accent: #1f004d;
  --channeltextarea-background: #500065;
  --background-message-hover: rgba(0, 0, 255, 0.3);
  --background-modifier-hover: rgba(0, 0, 255, 0.3);
  --background-modifier-active: #00f;
  --background-modifier-selected: #00a;
  --background-floating: #6f0090;
  --elevation-low: none;
  --activity-card-background: #00f;
  --input-background: #000;
}

::-webkit-scrollbar {
  display: none;
}
.content-1gYQeQ {
  margin-left: 7px !important;
  margin-right: 7px !important;
  border-radius: 7px;
}
.mainContent-20q_Hp {
  padding-left: 8px;
}
.container-32HW5s,
.container-1oeRFJ {
  margin: 0;
  max-width: unset;
}
.layout-1LjVue,
.layout-1qmrhw {
  border-radius: 7px;
  margin-left: 7px !important;
  margin-right: 7px !important;
  padding: 0 16px;
}
.unread-36eUEm {
  z-index: 1;
}
.buttons-uaqb-5 {
  padding-right: 10px !important;
}
.typeThread-2Aqh6X .content-1gYQeQ {
  padding-left: 34px;
}

/* Copied (Stolen) */
:root .userPopoutOuter-1OHwPL .userPopoutOverlayBackground-3A0Pcz .scroller-15bIdk {
  padding-right: 12px !important;
}
:root .userPopoutOuter-1OHwPL .userPopoutOverlayBackground-3A0Pcz .section-28YDOf {
  padding-top: 0;
  padding-bottom: 12px;
}
:root .userPopoutOuter-1OHwPL .userPopoutOverlayBackground-3A0Pcz .userTagWithNickname-13lfvd {
  padding-top: 12px;
}
:root .userPopoutOuter-1OHwPL .userPopoutOverlayBackground-3A0Pcz .divider-2dDziJ {
  display: none;
}
:root .userPopoutOuter-1OHwPL .userPopoutOverlayBackground-3A0Pcz .activity-3uaYny {
  padding: 16px;
  margin-top: 25px;
  z-index: 1;
}
:root .userPopoutOuter-1OHwPL .userPopoutOverlayBackground-3A0Pcz .activity-3uaYny .text-31kWmP,
:root .userPopoutOuter-1OHwPL .userPopoutOverlayBackground-3A0Pcz .activity-3uaYny .textRow-1sENuL,
:root .userPopoutOuter-1OHwPL .userPopoutOverlayBackground-3A0Pcz .activity-3uaYny .anchor-1X4H4q,
:root .userPopoutOuter-1OHwPL .userPopoutOverlayBackground-3A0Pcz .activity-3uaYny .activityName-3YXl6e {
  color: white;
}
:root .userPopoutOuter-1OHwPL .userPopoutOverlayBackground-3A0Pcz .activity-3uaYny .buttonColor-_0gSD_ {
  border: none;
  background-color: var(--listening-test);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1294117647);
  color: #fff;
}
:root .userPopoutOuter-1OHwPL .userPopoutOverlayBackground-3A0Pcz .activity-3uaYny .headerTextNormal-Z8we9g::before {
  content: "";
  position: absolute;
  height: 25px;
  z-index: 1;
  width: 284px;
  top: -25px;
  left: 0;
  background: var(--background-secondary);
  background: var(--profile-gradient-primary-color);
  -webkit-mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="284" height="25" viewBox="0 0 284 25"><path d="M283.999 15.2776C228.798 15.2776 211.243 -0.0317305 140.048 -0.000164877C69.0475 -0.000164877 51.2975 15.2776 8.58307e-06 15.2776V24.9998H284C284 24.9998 283.999 18.9392 283.999 15.2776Z"/></svg>');
  animation: animate2 8s linear infinite;
  animation-delay: 0s;
  opacity: 1;
}
@keyframes animate2 {
  0% {
    -webkit-mask-position-x: 284px;
  }
  100% {
    -webkit-mask-position-x: 0;
  }
}
:root .userPopoutOuter-1OHwPL .userPopoutOverlayBackground-3A0Pcz .activity-3uaYny::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -2;
  left: 0;
  top: 0;
  background: #7289da;
  background: var(--playing);
  border-radius: 0 0 10px 10px;
}
:root .userPopoutOuter-1OHwPL .userPopoutOverlayBackground-3A0Pcz .activity-3uaYny::after {
  content: "";
  position: absolute;
  height: 25px;
  z-index: 2;
  width: 284px;
  top: -24px;
  left: 0;
  background: #7289da;
  background: var(--playing);
  -webkit-mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="284" height="25" viewBox="0 0 284 25"><path d="M283.999 15.2776C228.798 15.2776 211.243 -0.0317305 140.048 -0.000164877C69.0475 -0.000164877 51.2975 15.2776 8.58307e-06 15.2776V24.9998H284C284 24.9998 283.999 18.9392 283.999 15.2776Z"/></svg>');
  animation: animate 6s linear infinite;
  animation-delay: 0s;
  opacity: 1;
}
:root .userPopoutOuter-1OHwPL .userPopoutOverlayBackground-3A0Pcz .activity-3uaYny .timeBarUserPopoutV2-32DL06::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  left: 0;
  top: 0;
  background: #1db954;
  background: var(--listening);
  border-radius: 0 0 10px 10px;
}
:root .userPopoutOuter-1OHwPL .userPopoutOverlayBackground-3A0Pcz .activity-3uaYny .timeBarUserPopoutV2-32DL06::after {
  content: "";
  position: absolute;
  height: 25px;
  width: 284px;
  top: -24px;
  left: 0;
  z-index: 3;
  background: #1db653;
  background: var(--listening);
  -webkit-mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="284" height="25" viewBox="0 0 284 25"><path d="M283.999 15.2776C228.798 15.2776 211.243 -0.0317305 140.048 -0.000164877C69.0475 -0.000164877 51.2975 15.2776 8.58307e-06 15.2776V24.9998H284C284 24.9998 283.999 18.9392 283.999 15.2776Z"/></svg>');
  animation: animate 6s linear infinite;
  animation-delay: 0s;
}
@keyframes animate {
  0% {
    -webkit-mask-position-x: 0;
  }
  100% {
    -webkit-mask-position-x: 284px;
  }
}
:root .userPopoutOuter-1OHwPL .userPopoutOverlayBackground-3A0Pcz .activity-3uaYny .timeBarUserPopoutV2-32DL06 .barInner-3dHef4 {
  background-color: white;
}
:root .userPopoutOuter-1OHwPL .userPopoutOverlayBackground-3A0Pcz .activity-3uaYny .platformIcon-k3yytQ {
  display: none;
}