/**
* @name OwnComfy
* @author RAINBOW#2050
* @description It's more comfy this way.
* @version 1
* @website https://dafuq.22web.org/
*/

@import "https://raw.githubusercontent.com/RAINTHEBOW/OwnComfy/main/main/main.css";

@import "https://raw.githubusercontent.com/RAINTHEBOW/OwnComfy/main/main/no-scrollbar.css";

:root {
  --disable-animations: 2s channel-unread infinite;

  --user-buttons-spacing: 8px;

  --user-buttons-color: #000;

  --avatar-radius: 5px;

  --status-radius: 3px;

  --server-radius: 8px;

  --colored-emoji: grayscale(0%);

  --mention-color: #000;

  --unread-color: #000;

  --mention-color-bar: #000;

  --mention-color-background: #000;

  --mention-color-hover: #000;

  --chat-buttons: #000;

  --spotify-color: #000;

  --online: #000;

  --idle: #000;

  --dnd: #000;

  --offline: #000;

  --streaming: #000;

  --playing: #000;

  --listening: #000;

  --role-circle: 5px;

  --discord-logo: none;
}

.theme-dark {
  --background-primary: #300065;
  --background-secondary: #1f004d;
  --background-secondary-alt: #000;
  --background-tertiary: #000;
  --background-accent: #000;

  --modal-background: #000;
  --background-mobile-primary: #000;
  --background-mobile-secondary: #000;
  --channeltextarea-background: #000;
  --background-message-hover: transparent;
  --background-modifier-hover: #000;
  --background-modifier-active: #000;
  --background-modifier-selected: #000;
  --deprecated-card-bg: #000;
  --background-floating: #000;
  --deprecated-quickswitcher-input-background: #000;
  --elevation-low: none;
  --scrollbar-auto-thumb: #000;
  --scrollbar-auto-track: #000;
  --scrollbar-thin-thumb: #000;
  --activity-card-background: #000;
  --input-background: #000;
}

.theme-light {
  --background-primary: #000;
  --background-secondary: #000;
  --background-secondary-alt: #000;
  --background-tertiary: #000;
  --background-accent: #000;
  --background-modifier-hover: #000;
  --background-modifier-active: #000;
  --header-primary: #000;
  --header-secondary: #000;
  --text-normal: #000;
}
